<div class="background-image bright">
    <h1>This is the homepage</h1>
    <h1> Still here</h1>
    <p>
        <h2 class="title-2">This is where my opinions live!</h2>
    </p>
</div>
<%= link_to 'Dank Posts Through Here', posts_path %>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- custom script that relies on jQuery-->
<script src="/assets/main.js"></script>