// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
    background-image: url("https://github.com/product-school/coding-for-managers/blob/master/review-1/landing-page/img/generic_background.jpg?raw=true");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

.bright {
    color: green;
}